.container {
  height: calc(100vh - var(--header-height));
  width: 100%;
  background-color: var(--background-tertiary-color);
  display: inline-block;
}
@media all and (max-width: 600px) {
  .container {
    height: 12vh;
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    justify-content: center;
  }
}
