.container {
  width: 85%;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  margin-top: 5px;
  cursor: pointer;
  background-color: var(--background-primary-color);
}

.memberItem {
  border-radius: 50%;
  vertical-align: middle;
}
.memberName {
  margin-left: 7px;
}
