.container {
  display: grid;
  grid-template-columns: 6% 19% 53% 22%;
}
@media all and (max-width: 850px) {
  .container {
    grid-template-columns: 10% 25% 65%;
  }
}
@media all and (max-width: 600px) {
  .container {
    height: 100vh;
    grid-template-columns: 100%;
    grid-template-rows: 12% 30% 43%;
  }
}
